*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
}

/* navbar section */
header{
    max-width: 1160px;
    margin: 20px auto;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
header hr {
    border: 1px solid #FEA301;
    display: none;
}
.nav_logo{
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo_name{
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
    margin-left: 11px;
}
.menu{
    display: none;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
}
.nav-item{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}
.nav-item a{
    text-decoration: none;
    margin-right: 32px;
}
.nav_btn{
    width: 197px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #FEA301;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

/* banner section */

.hero_banner{
    width: 100%;
    max-width: 1160px;
    margin: 20px auto;
    height: 575px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
   
    
}
.hero_banner_content{
    /* background-color: #dbd0be;  */
    margin-top: 140px;
}
.hero_banner_content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 61px;
}
.orange_test{
    color: #FEA301;
    /* font-family: "Quicksand", serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 61px; /* 108.929% */
} 
.sky_blue_text{
    color: #01ACFD;
    
    /* font-family: "Quicksand", serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 61px; */
}
.hero_banner_content p{
    color: black;
    font-family: "Quicksand", serif;
    font-size: 20px;
    font-weight: 400;
    gap: 10PX;
   
}
.Enroll_Now_btn {
    display: flex;
    width: 197px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: Black;
    text-decoration: none;
    color: white;
    font-family: "Quicksand", serif;
    margin-top: 20PX;
}



/* Standard_Curriculum */
.Standard_Curriculum{
    width: 100%;
    max-width: 1160px;
    margin: 20px auto;
    background-image: url(./assets/bg.png);
    display: flex;
    font-family: "Quicksand", serif;
    padding: 60px 0px; 
    flex-direction: column;
    align-items: center;
    gap: 80px;
    
    
}
.Standard_Curriculum h2{
   
    text-align: center;

    font-size: 46px;
  
    font-weight: 700;
    line-height: 57.5px;
}
.card{
    display: flex;
    justify-content: space-between;
    gap: 70px;
}
.card_1 ,.card_2 ,.card_3{
    display: flex;
    width: 367px;
    height: 476px;
    padding: 52px 40px 53px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-shrink: 0;

}
.card_1{
    border-radius: 18.864px;
    border: 0.943px solid #DEF5FF;
    background: linear-gradient(180deg, #DEF5FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}
.card_2{
    border-radius: 18.864px;
    border: 0.943px solid #FFF4DC;
    background: linear-gradient(180deg, #FFF4DC 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}
.card_3{
    border-radius: 18.864px;
    border: 0.943px solid #F2E8FF;
    background: linear-gradient(180deg, #EEE1FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}
.card_1 >a ,.card_2 >a ,.card_3 >a{
    text-decoration: none;
}
.icon_1{
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
.icon_less ,.icon_gater {
    background-color: #FEA301;
    color: #ffff;
    display: flex;
    width: 60px;
    height: 60px;
    padding: 17px 0px 19px 0px;
    justify-content: center;
    align-items: center;
 
    border-radius: 30px;
}
/* Our_Stories */
.stories{
    width: 100%;
    text-align: center;
    background:  linear-gradient(0deg, rgba(254, 163, 1, 0.30) 0%, rgba(255, 255, 255, 0.30) 100%);
}
.stories h1{
    font-size:  46px;
    font-weight: 700;
    margin-bottom: 80px;
}
.grid_stories_card_section{
    background: url("./assets/bg.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 540px repeat(2, 1fr);
    grid-template-rows: repeat(2,301px);
    gap: 10px; /* Adjust spacing as needed */
    max-width: 1160px; /* Total width */
    margin: 0 auto;
    margin-bottom: 80px;
}
.grid_stories_card_section :first-child {
    grid-row: span 2; /* Span 2 rows */
}
.stories_card_1{
    border-radius: 16px;
    background-color: white;
    overflow: hidden;
    text-align: left;
}
.stories_card_1 .stories_image_div h5{
    top: 314px;
}
.stories_card_1 h3{
    max-width: 402px;
    text-align: left;
    font-size: 24px;
    font-weight: 700;
    line-height: 38.3px;
    margin: 61px auto 51px 38px;
    margin-left: 38px;
    margin-bottom: 40px;
}
.stories_card_1 p{
    color: #666;
    font-size: 15px;
    font-weight: 500px;
    line-height: 28px;
    max-width: 433px;
    margin-left: 38px;

}
.stories_card{
    border-radius: 16px;
    background-color: white;
    overflow: hidden;
    text-align: left;
}
.stories_image_div{
    position: relative;
}
.stories_image_div h5{
    position: absolute;
    top: 157px;
    left: 38px;
    color: white;
    font-size: 15.3px;
    font-weight: 500;
    line-height: 28.76px;
    padding: 10px 19px;
    background-color: #95B226;
    border-radius: 47.9px;
}
.stories_card h3 {
    font-size: 15.339px;
    font-weight: 700;
    line-height: 28.761px;
    max-width: 198px;
    margin: 38px auto 0 auto;
}
.stories_card img{
    width: 100%;
    
}
.stories button{
    width: 197px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: black;
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 60px;
}
/* footer section */
footer{
    width: 100%;
    height: 500px;
    background-color: #01ACFD;
}
.footer_contant{
    color: white;
    max-width: 1160px;
    margin: 0px auto 174px auto;
    padding-top: 124px;
    display: flex;
    justify-content: space-between;
}

.Kids_Education p{
    font-size: 20px;
    margin-top: 35px;
    font-weight: 400;
    max-width: 399.02px;

}
.Kids_Education h2{
    font-size: 42px;
    font-weight: 700;
    line-height: 39px; /* 93.75% */
}

.About_School h3{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 32px;

}

.About, li{
    padding-bottom:  20px ;
    list-style: none;
}
.About a{
    text-decoration: none;   
    color: white;
}
.Keep_In_Touch h3{
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
    margin-top: 31px; /* 100% */
}
.soicle_icon{
    margin-top: 36px;
}

/* nav_bar responsive */

@media screen and (max-width: 430px) {
    .hero_banner,.container,.grid_stories_card_section, footer{
        padding: 0 16px;
    }
    .nav-item, .nav_btn, .logo h1 {
        display: none;
    }
    .nav_logo {
        width: 100%;
        padding: 0 16px;
        justify-content: space-between;
    }
    header {
        margin-left: 0px;
        margin-right: 0px;
    }
    .menu, header hr{
        display: flex;
    }
    .hero_banner{
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
    }
    .hero_banner_content{
        text-align: center;
        justify-items: center;
        margin-top: 20px;
    }
    .hero_banner_content h1 {
        font-size: 32px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 18px;
    }
    .hero_banner_content_img img{
        width: 100%;
    }
    .icon_1{
        display: none;
    }
    .card{
        flex-direction: column;
        gap: 12px;
    }
    .grid_stories_card_section{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 179px);
    }
    .grid_stories_card_section :first-child {
        grid-row: span 1; /* Span 2 rows */
    }
    .stories_image_div h5,.stories_card_1 .stories_image_div h5{
        font-size: 9px;
        line-height: 17px;
        top: 93px;
        left: 22px;
    }
    .stories_card h3, .stories_card_1 h3{
        font-size: 9px;
        line-height: 17px;
        max-width: 107px;
        margin-top: 22px;
    }
    .stories_card_1 img {
        width: 100%;
        height: 106px;
    }
    
    footer{
        height: auto;
    }
    .footer_contant{
        flex-direction: column;
    }

} 