*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
   
  
    display: flex;
    padding: 24px 160px;
    width: 1600px;
   
    justify-content: space-between;
    margin: auto;
   
    
  

}

.nav_bar{
    padding: 20px 0px;
    width: 1600px;


}
.logo{
    display: flex;
    justify-content: space-between;
}
.nav_logo{
   display: flex;
   
}
.nav_logo a{
    text-decoration: none;
    
}
.nav_logo  h1 {
    font-family: "Quicksand", serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 94%;
    color:#111111;
    padding: 20px;
    
}
.navbar{
    justify-content: space-between;
    display: flex;
    gap: 30px;
}
.navbar li{
    list-style: none;
    padding: 25px;
    gap: 30px;
}
.navbar li a{
    text-decoration: none;
    font-family: "Quicksand", serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;

}
.Contact_btn{
    border-radius: 12px;
    padding: 10px;
    width: 197px;
    height: 50px;
    background-color: #FEA301;
    text-align: center;
    margin-top: 10px;
}
.Contact_btn button{
    border:none;
    background-color: #FEA301;
    font-family: "Quicksand", serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #fff;
    
}
.icon {
    
    font-size: 30px;
    margin-top: 20px;
    visibility: hidden;
}
.hero_banner{
    width: 1600px;
    height: 575px;
    background-color: red;
    display: flex;
    justify-content: space-between;
   
    
}
.hero_banner_content{
    width: 640px;
    height: 331px;
    background-color: #dbd0be; 
    margin-top: 140px;
}
.hero_banner_content h1{
    font-family: "Quicksand", serif;
    color: black;
    font-size: 56px;
    font-weight: 700;
    line-height: 61px;
}
.orange_test{
    color: #FEA301;
    /* font-family: "Quicksand", serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 61px; /* 108.929% */
} 
.sky_blue_text{
    color: #01ACFD;
    
    /* font-family: "Quicksand", serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 61px; */
}
.hero_banner_content p{
    color: black;
    font-family: "Quicksand", serif;
    font-size: 20px;
    font-weight: 400;
   
}
.Enroll_Now_btn{
    display: flex;
width: 197px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
}
.hero_banner_content_img{

}

/* nav_bar responsive */

@media screen and (max-width:430){
    .nav_logo h1, .navbar, .Contact_btn{
        visibility: hidden;
    }
    .nav_bar{
        margin-left: 0px;
        padding: 0px;
        
    }
    .icon{
       visibility: visible;
    }
    .container{
        display: inline;
        width: 390px;
        
    }
    .nav_bar{
        width: 390px;
        height: 70px; 
        display: flex;
        justify-content: space-between;
    }
}

    